\version "2.24.1"
\header {
    tagline = "Transposed using LilyPond 2.25.11 at dlochridge.com"
}

\score {
    \header {
        {{ header }}
    }

    \layout {
        indent = 0\cm
    }

    \absolute {
        \autoBreaksOff
        \override Stem.neutral-direction = -1
        {{ music }}
    }
}
