\version "2.24.1"
\score {
    \header {
        {{ header }}
        copyright = "Transposed using LilyPond 2.20.0 at dlochridge.com"
        tagline = #f
    }

    \layout {
        indent = 0\cm
    }

    \absolute {
        \autoBreaksOff
        \override Stem.neutral-direction = -1
        {{ music }}
    }
}
