recursive-include bpmusictransposer/rest/static *
recursive-include bpmusictransposer/rest/templates *
recursive-include bpmusictransposer/templates *
recursive-include bpmusictransposer/parserdefs *
