{% extends 'base.html.jinja' %}

{% block header %}
<script src="{{ page_js }}"></script>
{% endblock %}

{% block content %}
  <div class ="container">
    <form class="container" method="post" enctype="multipart/form-data">
      <div class="mb-3 form-group">
        <label for="fileField" class="form-label">File to convert (BWW format supported)</label>
        <br/>
        <input type="file" id="fileField" class="form-control" name="to_parse"></input>
      </div>
      <button type="submit" class="btn btn-primary">Submit</input>
    </form>
  </div>

  <h1>Current conversions:</h1>
  <ul id="conversions">
    {%- for result in results %}
      <li status="{{ result['status'] }}">
        <a status="{{ result['status'] }}" href="{{ url_for('parse_request_status', parse_uuid=result['uuid'] )}}">{{ result['name'] }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
